<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Fulcrum\Banner\Api\BannersRepositoryInterface" type="Fulcrum\Banner\Model\BannersRepository" />
    <preference for="Fulcrum\Banner\Api\Data\BannersInterface" type="Fulcrum\Banner\Model\Banners" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">Fulcrum\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Fulcrum\Banner\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banners</argument>
            <argument name="resourceModel" xsi:type="string">Fulcrum\Banner\Model\ResourceModel\Banners</argument>
        </arguments>
    </virtualType>
</config>